/* Body Region */

body {
    margin: 0;
    height: 100%;
}

header {
    margin: 0;
    position: static;
    background: grey;
    height: 5%;
    min-height: 30px;
    max-height: 50px;
}

header div#login {
    float: none;
    margin: 0;
    min-width: 5%;
    max-width: 10%;
    position: right;
}

#login form {
    margin: auto;
    width: 100px;
    height: 100%;
}

.rased {}

#login button {
    margin: 0%;
    width: 100px;
    height: 100%;
}


/*
.section {
		
}*/

.Quiz {
    float: left;
    width: 50%;
    height: 100%;
}

#Q {
    position: relative;
    top: 50%;
    bottom: 25;
    left: 25%;
    right: 25%;
    border-radius: 25px;
    width: 50%;
    height: 300px;
}

.Answer {
    float: right;
    width: 50%;
    height: 100%;
}

#A {
    position: relative;
    top: 50%;
    bottom: 25;
    left: 25%;
    right: 25%;
    border-radius: 25px;
    width: 50%;
    height: 300px;
}


/* Button Region */


/* MainMenu Region */

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}