.column {
    box-sizing: border-box;
    float: left;
    border: 10px;
    padding: 10px;
    min-height: 100px;
}

.left,
.right {
    width: 25%;
}

.center {
    min-width: 300px;
    width: 50%;
}

.row:after {
    box-sizing: border-box;
    content: "";
    display: table;
    clear: both;
}