html {
    height: 100%;
}

header {
    max-height: 15px;
}

.lheader {
    border-style: solid;
    border-width: 4px;
    border-color: black;
}

body {
    height: 100%;
}

main {
    height: 100%;
}

.column {
    box-sizing: border-box;
    float: left;
    border: 10px;
    padding: 10px;
    height: 100%;
}

.folderIter {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.left,
.right {
    width: 25%;
}

.center {
    min-width: 300px;
    width: 50%;
}

.row {
    min-height: 100px;
    height: 100%;
}

.row:after {
    box-sizing: border-box;
    content: "";
    display: table;
    clear: both;
}

.box {
    background: peachpuff;
    min-height: 100px;
    height: 95%;
}

#newQbtn {
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    background: cyan;
    min-height: 100px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.question {
    background: cyan;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.Qhead:after {
    box-sizing: border-box;
    content: "";
    display: table;
    clear: both;
}

.text {
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    width: 94%;
}

.arrow {
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    width: 5%;
}

.answer {
    border-style: solid;
    border-width: 4px;
    border-color: black;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.question button {
    align-content: right;
}

.hidden {
    display: none;
}